@import "tailwindcss";

@source "./safelist.txt";

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
html,
body {
  height: 100%;
}

.outline-highlight {
  outline: 2px solid #FF5656;
  outline-offset: 0px;
}

button.htmx-request {
  pointer-events: none;
}

.ql-toolbar.ql-snow {
  border: none !important;
  background-color: gainsboro;
  border-bottom: 1px solid #222 !important;
}

.ql-container.ql-snow {
  border: none !important;
  background-color: whitesmoke;
  color: black;
}
