@import "tailwindcss";

@source "./safelist.txt";

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
html,
body {
  height: 100%;
}

button.htmx-request {
  pointer-events: none;
}
