<script type="module">
  import {
    setupExplorerWindow,
    setupExplorerToolBar,
    setupExplorerWindowGrab,
  } from "/assets/js/explorer.js";
  setupExplorerWindow("{{ folder_id }}");
  setupExplorerToolBar("{{ folder_id }}");
  setupExplorerWindowGrab("{{ folder_id }}");
</script>

<div
  id="explorer-window-{{ folder_id }}"
  class="absolute flex flex-col bg-zinc-950 rounded-sm overflow-hidden text-white"
  style="top:{{ top }}px; left:{{ left }}px; width:{{ window_width }}px; height:{{ window_height }}px;"
>
  <!-- Toolbar -->
  <div
    id="explorer-toolbar-{{ folder_id }}"
    class="flex justify-between bg-zinc-900 px-3 h-12"
  >
    <div class="flex gap-2">
      <div class="flex gap-4 bg-zinc-800 mt-3 px-4 rounded-t-sm">
        <div class="flex items-center gap-2">
          <img
            class="w-5 h-5"
            src="/assets/images/folder.svg"
            draggable="false"
          />
          {{ folder_name }}
        </div>
        <img
          class="hover:opacity-70 m-auto w-5 h-5"
          src="/assets/images/x.svg"
          draggable="false"
        />
      </div>
      <div class="mt-4">
        <img
          class="hover:opacity-70 w-5 h-5"
          src="/assets/images/plus.svg"
          draggable="false"
        />
      </div>
    </div>
    <div class="flex items-center gap-3 h-full">
      <img
        class="hover:opacity-70 w-5 h-5 hide"
        src="/assets/images/minus.svg"
        draggable="false"
      />
      <img
        class="hover:opacity-70 w-4 h-4 maximize"
        src="/assets/images/square.svg"
        draggable="false"
      />
      <img
        class="hover:opacity-70 w-5 h-5 close"
        src="/assets/images/x.svg"
        draggable="false"
      />
    </div>
  </div>

  <!-- Navigation bar -->
  <div
    class="flex justify-between items-center gap-6 bg-zinc-800 px-7 h-12 select-none"
  >
    <div class="flex gap-6 shrink-0">
      <img
        class="hover:opacity-70 w-4 h-4"
        src="/assets/images/arrow-left.svg"
        draggable="false"
      />
      <img
        class="hover:opacity-70 w-4 h-4"
        src="/assets/images/arrow-right.svg"
        draggable="false"
      />
      <img
        class="hover:opacity-70 w-4 h-4"
        src="/assets/images/arrow-up.svg"
        draggable="false"
      />
      <img
        class="hover:opacity-70 w-4 h-4"
        src="/assets/images/rotate-ccw.svg"
        draggable="false"
      />
    </div>
    <div class="flex items-center gap-4 w-full">
      <div
        class="flex flex-2 items-center gap-3 bg-zinc-700 px-4 py-1 rounded-sm h-full"
      >
        This PC
        <img
          class="w-5 h-5"
          src="/assets/images/chevron-right.svg"
          draggable="false"
        />
      </div>
      <div class="relative flex-1">
        <input
          class="bg-zinc-700 px-3 rounded-sm w-full h-8 text-white text-sm"
          type="text"
          placeholder="Search This PC"
        />
        <img
          src="/assets/images/search.svg"
          alt="search"
          class="top-1.5 right-3 absolute w-5 h-5"
          draggable="false"
        />
      </div>
    </div>
  </div>

  <!-- Toolbar actions -->
  <div class="h-full">
    <div
      class="flex items-center gap-8 px-7 border-zinc-700 border-b w-full h-12"
    >
      <div class="flex items-center gap-2 hover:opacity-70 h-full">
        <img src="/assets/images/plus.svg" class="w-5 h-5" draggable="false" />
        New
        <img
          src="/assets/images/chevron-down.svg"
          class="w-5 h-5"
          draggable="false"
        />
      </div>
      <div
        class="flex items-center gap-8 pl-8 border-zinc-700 border-l h-full shrink-0"
      >
        <img
          src="/assets/images/scissors.svg"
          class="hover:opacity-70 w-5 h-5"
          draggable="false"
        />
        <img
          src="/assets/images/copy.svg"
          class="hover:opacity-70 w-5 h-5"
          draggable="false"
        />
        <img
          src="/assets/images/clipboard-paste.svg"
          class="hover:opacity-70 w-5 h-5"
          draggable="false"
        />
        <img
          src="/assets/images/trash-2.svg"
          class="hover:opacity-70 w-5 h-5"
          draggable="false"
        />
      </div>
      <div class="flex justify-between gap-4 w-full h-full">
        <div
          class="flex items-center gap-8 pl-8 border-zinc-700 border-l h-full"
        >
          <div class="flex items-center gap-2 hover:opacity-70 h-full">
            <img
              src="/assets/images/arrow-up-down.svg"
              class="w-5 h-5"
              draggable="false"
            />
            Sort
            <img
              src="/assets/images/chevron-down.svg"
              class="w-5 h-5"
              draggable="false"
            />
          </div>
          <div class="flex items-center gap-2 hover:opacity-70 h-full">
            <img
              src="/assets/images/table-of-contents.svg"
              class="w-5 h-5"
              draggable="false"
            />
            View
            <img
              src="/assets/images/chevron-down.svg"
              class="w-5 h-5"
              draggable="false"
            />
          </div>
        </div>
        <div class="flex items-center gap-2 hover:opacity-70 h-full">
          <img
            src="/assets/images/columns-2.svg"
            class="w-5 h-5"
            draggable="false"
          />
          Preview
        </div>
      </div>
    </div>

    <!-- Sidebar + Content -->
    <div class="flex gap-2 h-full">
      <div class="flex flex-col flex-1 gap-4 px-3 py-4">
        <div class="pb-4 border-zinc-700 border-b">
          <div class="flex items-center gap-2 hover:opacity-70 px-2">
            <img
              src="/assets/images/thispc.svg"
              class="w-5 h-5"
              draggable="false"
            />
            This PC
            <img
              src="/assets/images/chevron-right.svg"
              class="w-6 h-6"
              draggable="false"
            />
          </div>
        </div>

        <div id="explorer-sidebar-{{ folder_id }}" class="flex flex-col gap-5">
          {% for sidebar in ["Desktop", "Documents", "Downloads", "Pictures",
          "Music", "Movies"] %}
          <div
            id="sidebar-{{ sidebar }}"
            class="flex items-center gap-2 hover:opacity-70 px-2"
          >
            <img
              src="/assets/images/{{ sidebar | lower }}.svg"
              class="w-6 h-6"
              draggable="false"
            />
            {{ sidebar }}
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="flex flex-5 gap-4 p-4 border-zinc-700 border-l">
        {% for item in folder_items %}
          {% set name = item.name.as_ref().unwrap() %}
          {% match item.item_type %} 
            {% when Some(ItemType::File) %} 
              {% match item.file_type %}
                {% when Some(FileType::Txt) %}
                  {% set id = format!("explorer-file-{}", item.id.unwrap()) %}
                  <div class="relative w-22 h-20">
                      {% include "txt/txt_file.html" %}
                  </div>
                {% when _ %} 
              {% endmatch %} 
            {% when Some(ItemType::Folder) %}
              {% set id = format!("explorer-folder-{}", item.id.unwrap()) %}    
              <div class="relative w-22 h-20">
                {% include "folder/folder.html" %}
              </div>
            {% when None %}
          {% endmatch %} 
        {% endfor %}
      </div>
    </div>
  </div>
</div>
