<input id="screen_rows" type="hidden" value="{{ rows }}">
<input id="screen_cols" type="hidden" value="{{ cols }}">
<input id="desktop_id" type="hidden" value="{{ desktop_id }}">

{% match sort_type %}
  {% when FolderSortType::Custom %}
    {% for row in 0..rows %}
      {% for col in 0..cols %}
        <div 
          class="flex justify-center items-center relative overflow-hidden group/item"
          style="width: {{ rectangle_width }}px;"
          id="item-{{ row }}-{{ col }}"
          draggable="true"
        >
          {% if let Some(item) = item_map.get(&(row, col)) %}
            {% set id = item.id.unwrap() %}
            {% set name = item.name.as_ref().unwrap() %}
            {% match item.item_type.as_ref().unwrap() %}
              {% when ItemType::File %}
                {% match item.file_type.as_ref().unwrap() %}
                  {% when FileType::Calculator %}
                    {% include "calculator/calculator_file.html" %}
                  {% when FileType::Snake %}
                    {% include "snake/snake_file.html" %}
                  {% when FileType::FlappyBird %}
                    {% include "flappybird/flappy_bird_file.html" %}
                  {% when FileType::Txt %}
                    {% include "txt/txt_file.html" %}
                  {% when FileType::ThisPC %}
                    {% include "thispc/thispc_file.html" %}
                  {% when FileType::Music %}
                    {% include "music/music_file.html" %}
                  {% when FileType::WebBuilder %}
                    {% include "web_builder/web_builder_file.html" %}
                {% endmatch %}
              {% when ItemType::Folder %}
                {% include "folder/folder.html" %}
            {% endmatch %}
          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}
  {% when FolderSortType::DateCreated %}
    {% for row in 0..rows %}
      {% for col in 0..cols %}
        <div 
          class="flex justify-center items-center relative overflow-hidden group/item"
          style="width: {{ rectangle_width }}px;"
          id="item-{{ row }}-{{ col }}"
          draggable="true"
        >
          {% if let Some(item) = items.get(*((col * rows + row) as usize)) %}
            {% set id = item.id.unwrap() %}
            {% set name = item.name.as_ref().unwrap() %}
            {% match item.item_type.as_ref().unwrap() %}
              {% when ItemType::File %}
                {% match item.file_type.as_ref().unwrap() %}
                  {% when FileType::Calculator %}
                    {% include "calculator/calculator_file.html" %}
                  {% when FileType::Snake %}
                    {% include "snake/snake_file.html" %}
                  {% when FileType::FlappyBird %}
                    {% include "flappybird/flappy_bird_file.html" %}
                  {% when FileType::Txt %}
                    {% include "txt/txt_file.html" %}
                  {% when FileType::ThisPC %}
                    {% include "thispc/thispc_file.html" %}
                  {% when FileType::Music %}
                    {% include "music/music_file.html" %}
                  {% when FileType::WebBuilder %}
                    {% include "web_builder/web_builder_file.html" %}
                {% endmatch %}
              {% when ItemType::Folder %}
                {% include "folder/folder.html" %}
            {% endmatch %}
          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}
{% endmatch %}