<script type="module">
    import { setupTaskbarMenuFiles } from "/assets/js/taskbar.js";
    setupTaskbarMenuFiles();
</script>

{% for file in files %}
    {% match file.file_type %}
        {% when Some(FileType::Calculator) %}
            {% include "calculator/calculator_file.html" %}
        {% when Some(FileType::Snake) %}
            {% include "snake/snake_file.html" %}
        {% when Some(FileType::FlappyBird) %}
            {% include "flappybird/flappy_bird_file.html" %}
        {% when Some(FileType::Music) %}
            {% include "music/music_file.html" %}
        {% when Some(FileType::WebBuilder) %}
            {% if let Some(id) = file.id %}
                {% include "web_builder/web_builder_file.html" %}
            {% endif %}
        {% when Some(FileType::Txt) %}
        {% when Some(FileType::ThisPC) %}
        {% when None %} 
    {% endmatch %}
{% endfor %}
